@import url('./Components/styles/portada.css');

:root{
    --main-color:#0061A9;
    --second-color:;
    --acento:;
    --white:#fff;
}

.btn-general{
    background-color:white ;
    padding: 10px 20px;
   
    cursor: pointer;
}
.btn-secondary{
  background-color: var(--main-color);
  margin-top: 5px;
}
.btn-secondary:hover {
background-color: var(--white);
border: 2px solid var(--main-color) ;
color: var(--main-color);
}
.margen{
    margin-top: 100px;
}
.contenedor_intro{
    background-color: var(--main-color);
    color: var(--white);
    border: 1px solid var(--white) ;
}
/* contacto */

.showcase .showcase-text {
    padding: 3rem;
  }
  .showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  @media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }
.firs-section-img{
    background-image: url("./assets/gallery/6.jpg");
}
.second-section-img{
    background-image: url("./assets/gallery/5.jpg");
}
.third-section-img{
    background-image: url("./assets/gallery/4.jpg");
} 

/* testimonials */
/* section{
  display: grid;
  display: grid;
  place-items: center;
  height: 60vh;
  background-color: var(--color-primary);
}
.section-header{
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
  padding-bottom: 25px;

}

.section-header span{
  display: block;
  font-size: 15px;
  font-weight: 300;

}
.testimonials{
  max-width: 1000px;
  padding: 0 15px 50px;
  margin: 0 auto 80px auto;

}
.single-item{
  background-color: #fff;
  color: var(--color-primary);
  padding: 10px;
 border-radius: 5px;
}
.profile{
  margin-bottom: 30px;
  text-align: center;
}
.img-area{
  margin:0 15px 15px 15px;
}
.img-area img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 7px solid var(--color-primary) ;
}
.content{
  font-size: 18px;
  margin:20px 40px ;
}
.content p{
  text-align: justify;
  margin: auto 55px;
}

.bio h4{
  font-family: berkshire swash;
}
.carousel-control-next-icon,
.carousel-control-prev-icon{
  background-color: var(--color-primary);
} */